// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Rockchip Electronics Co., Ltd.
 */

#include <dt-bindings/display/rockchip_vop.h>

/ {
	compatible = "radxa,rock-cm3", "rockchip,rk3566";
};

&video_phy1 {
    status = "okay";
};

&dsi1 {
	status = "okay";
	#address-cells = <1>;
    #size-cells = <0>;


	dsi1_panel: dsi-panel@0 {
		compatible = "raspits,tc358762";
		reg = <0x0>;
		status = "okay";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				panel_in_dsi1: endpoint {
					remote-endpoint = <&dsi1_out_panel>;
				};
			};
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			dsi1_out_panel: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&panel_in_dsi1>;
			};
		};
	};
};

&dsi1_in_vp0 {
	status = "disabled";
};

&dsi1_in_vp1 {
	status = "okay";
};

// &route_dsi1 {
// 	status = "okay";
// 	connect = <&vp0_out_dsi1>;
// };

&i2c2 {
	status = "okay";
	pinctrl-0 = <&i2c2m1_xfer>;
	#address-cells = <1>;
	#size-cells = <0>;

	chipone_icn8952: chipone_icn8952@30 {
		compatible = "chipone_icn8505";
		reg = <0x30>;
		status = "okay";
	};

    rockpi_ft5406: rockpi_ft5406@38 {
		compatible = "fts_ts";
		reg = <0x38>;
		status = "okay";
	};

	rockpi_mcu: rockpi-mcu@45 {
		compatible = "rockpi_mcu";
		reg = <0x45>;
		status = "okay";
	};
};
