// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 * Copyright (c) 2021 Radxa Limited.
 *
 */

/dts-v1/;

#include "rk3566-rock-compute-module-3.dtsi"
#include <dt-bindings/display/drm_mipi_dsi.h>
#include <dt-bindings/display/media-bus-format.h>
//#include "radxa-cm3-raspberrypi-7inch-touchscreen.dtsi"
#include "rk3566-rock-cm3io_219.dtsi"
//#include "rk3566-radxa-cm3io-edp.dtsi"
#include "rk3566-rock-cm3io-10inch-touchscreen.dtsi"
// #include "rk3566-rock-cm3io_8inch-touchscreen.dtsi"
// #include "rk3566-rock-cm3io_jymx1013833281be-display.dtsi"

/ {
	model = "Radxa ROCK CM3 IO";
	compatible = "radxa,rock-cm3-io", "rockchip,rk3566";

	rk_headset: rk-headset {
		compatible = "rockchip_headset";
		headset_gpio = <&gpio4 RK_PC4 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&hp_det>;
		io-channels = <&saradc 2>;    //HP_HOOK引脚
	};

	vcc_avdd: vcc-avdd {
		compatible = "regulator-fixed";
		regulator-name = "vcc_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
	};

	vcc_dovdd: vcc-dovdd {
		compatible = "regulator-fixed";
		regulator-name = "vcc_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	vcc_dvdd: vcc-dvdd {
		compatible = "regulator-fixed";
		regulator-name = "vcc_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
	};

	vcc5v0_usb30: vcc5v0-usb30-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio3 RK_PC2 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_usb30_en>;
		regulator-name = "vcc5v0_usb30";
		regulator-always-on;
		regulator-boot-on;
	};

	vcc_ch482d1: vcc-ch482d1-regulator {
		compatible = "regulator-fixed";
		gpio = <&gpio3 RK_PC7 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&ch482d_en1>;
		regulator-name = "vcc_ch482d1";
		regulator-always-on;
		regulator-boot-on;
	};

	vcc_ch482d2: vcc-ch482d2-regulator {
		compatible = "regulator-fixed";
		gpio = <&gpio3 RK_PC6 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&ch482d_en2>;
		regulator-name = "vcc_ch482d2";
		regulator-always-on;
		regulator-boot-on;
	};

	vcc3v3_lcd0: vcc3v3-lcd0 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_lcd0";
		gpio = <&gpio0 RK_PD5 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	vcc_sd: sdmmc-regulator {
		compatible = "regulator-fixed";
		gpio = <&gpio0 RK_PA5 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&sdmmc_pwren>;
		regulator-name = "vcc_sd";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		startup-delay-us = <100000>;
		vin-supply = <&vcc3v3_sys>;
	};

	tf_det: tf-det-regulator {
		compatible = "regulator-fixed";
		enable-active-low;
		gpio = <&gpio0 RK_PD4 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&tf_det_en>;
		regulator-name = "tf_det";
		regulator-always-on;
		regulator-boot-on;
	};

	gpio_leds: gpio-leds {
		compatible = "gpio-leds";
		status = "okay";


		sata1-led {
			gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "nand-disk";
			default-state = "on";
			pinctrl-0 = <&sata1_led>;
		};

		sata2-led {
			gpios = <&gpio4 16 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "nand-disk";
			default-state = "on";
			pinctrl-0 = <&sata2_led>;
		};
	};
};

&pwm2 {
	status = "okay";	
};

&pwm5 {
	status = "okay";	
};

&rk817_sound {
	status = "okay";
};

&i2s1_8ch {
	status = "okay";
};

&pmu_io_domains {
	/delete-property/ vccio2-supply;
};

&sdmmc0 {
	max-frequency = <150000000>;
	supports-sd;
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;

	vmmc-supply = <&vcc_sd>;
	vqmmc-supply = <&vccio_sd>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0_bus4 &sdmmc0_clk &sdmmc0_cmd &sdmmc0_det>;
	status = "okay";
};

&usbhost_dwc3 {
	// usb2.0 only 打下以下
	// phys = <&u2phy0_host>; /* 配置 phys 属性只引用 usb 2.0 phy 节点 */
	// phy-names = "usb2-phy";
	// maximum-speed = "high-speed"; /* 配置 dwc3 控制器最高支持 high speed */
	
	status = "okay";
};

&usbhost30 {
	status = "okay";
};

&combphy1_usq {
	// usb2.0 only 打下以下
	//rockchip,dis-u3otg1-port; /* 配置 dwc3_1 控制器最高支持 high speed */

	status = "okay";
};
&pinctrl {
	ch482d {
		//usb3.0 --> sata1
		ch482d_en1: ch482d-en1 {
			rockchip,pins = <3 RK_PC7 RK_FUNC_GPIO &pcfg_output_low>;
		};

		//pcie2.0 --> sata2
		ch482d_en2: ch482d-en2 {
			rockchip,pins = <3 RK_PC6 RK_FUNC_GPIO &pcfg_output_low>;
		};
	};
	usb {
		vcc5v0_usb30_en: vcc5v0-host-en {
			rockchip,pins = <3 RK_PC2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	headphone {
		hp_det: hp-det {
			rockchip,pins = <4 RK_PC4 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	leds {
		sata1_led: sata1-led{
			rockchip,pins = <0 RK_PC2 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		sata2_led: sata2-led{
			rockchip,pins = <4 RK_PC0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	sdcard {
		sdmmc_pwren: sdmmc-pwren {
			rockchip,pins = <0 RK_PA5 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		tf_det_en: tf-det-en {
			rockchip,pins = <0 RK_PD4 RK_FUNC_GPIO &pcfg_output_low>;
		};
	};

	lcd0 {
		lcd0_rst_gpio: lcd0-rst-gpio {
			rockchip,pins = <4 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		lcd0_enable_gpio: lcd-enable-gpio {
			rockchip,pins = <4 RK_PA3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
