// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 *
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include "rk3568.dtsi"
#include "rk3568-evb-r89.dtsi"
#include "rk3568-android.dtsi"

/ {
	model = "Rockchip RK3568 EVB2 LP4X V10 Board";
	compatible = "rockchip,rk3568-evb2-lp4x-v10", "rockchip,rk3568";
	panel: panel {
		compatible = "simple-panel";
		backlight = <&backlight>;
		power-supply = <&vcc_lcd>;
		//enable-gpios = <&gpio3 RK_PD4 GPIO_ACTIVE_HIGH>;
		//pinctrl-names = "default";
		//pinctrl-0 = <&lcd_enable_gpio>;
		
		reset-delay-ms = <60>;
		enable-delay-ms = <120>;
		prepare-delay-ms = <60>;
		unprepare-delay-ms = <60>;
		disable-delay-ms = <60>;
		
		//bpc = <8>;		
		//bus-format = <MEDIA_BUS_FMT_RGB888_1X24>;
		
		bpc = <6>;
		bus-format = <MEDIA_BUS_FMT_RGB666_1X18>;
		
		display-timings {
			native-mode = <&timing3>;
			
			timing0: timing0 {				
				clock-frequency = <138500000>;
				hactive = <1920>;
				vactive = <1080>;
				hfront-porch = <134>;
				hsync-len = <26>;
				hback-porch = <24>;
				vfront-porch = <16>;
				vsync-len = <6>;
				vback-porch = <14>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		
			//N61 ERWEIMA
			timing1: timing1 {
				clock-frequency = <135000000>;
				hactive = <1920>;
				vactive = <1080>;
				hfront-porch = <160>;
				hsync-len = <10>;
				hback-porch = <160>;
				vfront-porch = <21>;
				vsync-len = <10>;
				vback-porch = <21>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};	
				
			timing2: timing2 {																			
				clock-frequency = <148000000>;		
				hactive = <1920>;
				vactive = <1080>;										
				hback-porch = <50>;
				hfront-porch = <134>;
				vback-porch = <20>;
				vfront-porch = <20>;																
				hsync-len = <36>;
				vsync-len = <6>;								
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
				swap-rb = <0>;
				swap-rg = <0>;
				swap-gb = <0>;								
			};
			
			//NV140FHM-N4F=B140HAN03.9 
			timing3: timing3 {
				clock-frequency = <138000000>;
				hactive = <1920>;
				vactive = <1080>;
				hback-porch = <48>;
				hfront-porch = <210>;
				vback-porch = <20>;
				vfront-porch = <30>;																
				hsync-len = <52>;
				vsync-len = <10>;								
				hsync-active = <0>;
				vsync-active = <0>;

				de-active = <0>;
				pixelclk-active = <0>;
			};
		};

		ports {
			panel_in: endpoint {
				remote-endpoint = <&edp_out>;
			};
		};
	};
	
	rk_headset: rk-headset {
		compatible = "rockchip_headset";
		headset_gpio = <&gpio3 RK_PC2 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&hp_det>;
		io-channels = <&saradc 2>;
	};

	/*vcc2v5_sys: vcc2v5-ddr {
		compatible = "regulator-fixed";
		regulator-name = "vcc2v5-sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <2500000>;
		regulator-max-microvolt = <2500000>;
		vin-supply = <&vcc3v3_sys>;
	};*/

	/*pcie20_3v3: gpio-regulator {
		compatible = "regulator-gpio";
		regulator-name = "pcie20_3v3";
		regulator-min-microvolt = <100000>;
		regulator-max-microvolt = <3300000>;
		gpios = <&gpio0 RK_PD4 GPIO_ACTIVE_HIGH>;
		gpios-states = <0x1>;
		states = <100000 0x0
			  3300000 0x1>;
	};

	pcie30_avdd0v9: pcie30-avdd0v9 {
		compatible = "regulator-fixed";
		regulator-name = "pcie30_avdd0v9";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		vin-supply = <&vcc3v3_sys>;
	};

	pcie30_avdd1v8: pcie30-avdd1v8 {
		compatible = "regulator-fixed";
		regulator-name = "pcie30_avdd1v8";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc3v3_sys>;
	};

	pcie30_3v3: gpio-regulator {
		compatible = "regulator-gpio";
		regulator-name = "pcie30_3v3";
		regulator-min-microvolt = <100000>;
		regulator-max-microvolt = <3300000>;
		gpios = <&gpio0 RK_PD4 GPIO_ACTIVE_HIGH>;
		gpios-states = <0x1>;
		states = <100000 0x0
			  3300000 0x1>;
	};*/

	/*vcc3v3_bu: vcc3v3-bu {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_bu";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc5v0_sys>;
	};*/
	
	vccsys: vccsys {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v8_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3800000>;
		regulator-max-microvolt = <3800000>;
	};
	
	vcc_sd: vcc-sd {
		compatible = "regulator-gpio";
		enable-active-low;
		enable-gpio = <&gpio0 RK_PA5 GPIO_ACTIVE_LOW>;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc_sd_h>;
		regulator-name = "vcc_sd";
		states = <3300000 0x0
			3300000 0x1>;
	};
	
	vcc_camera: vcc-camera-regulator {
		compatible = "regulator-fixed";
		gpio = <&gpio3 RK_PD0 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&camera_pwr>;
		regulator-name = "vcc_camera";
		enable-active-high;
		regulator-always-on;
		regulator-boot-on;
	};
	
	vcc_4g: vcc-4g-regulator {
		compatible = "regulator-fixed";
		gpio = <&gpio3 RK_PD2 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&pwr_4g>;
		regulator-name = "vcc_4g";
		enable-active-high;
		regulator-always-on;
		regulator-boot-on;
	};
	
	vcc_host: vcc-host-regulator {
		compatible = "regulator-fixed";
		gpio = <&gpio3 RK_PA1 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&pwr_host>;
		regulator-name = "vcc_host";
		enable-active-high;
		regulator-always-on;
		regulator-boot-on;
	};
};

/* add by rocky USB 3.0 OTG/SATA Combo PHY_0 */
&combphy0_us {
	status = "okay";
};

/* add by rocky USB 3.0 Host/SATA/QSGMII Combo PHY_1 */
&combphy1_usq {
	status = "okay";
};

&combphy2_psq {
	status = "okay";
};

//add by rocky usb2 phy0
&u2phy0_host {
	//phy-supply = <&vcc5v0_host>;
	status = "okay";
};

&u2phy0_otg {
	//vbus-supply = <&vcc5v0_otg>;
	status = "okay";
};

//add by rocky usb2.0 phy1
&u2phy1_host {
	//phy-supply = <&vcc5v0_host>;
	status = "okay";
};

&u2phy1_otg {
	//phy-supply = <&vcc5v0_host>;
	status = "okay";
};

/* add by rocky USB OTG/USB Host_1 USB 2.0 Comb PHY_0 */
&usb2phy0 {
	status = "okay";
};

/* add by rocky USB Host_1/USB Host_2 USB 2.0 Comb PHY_0 */
&usb2phy1 {
	status = "okay";
};

/* add by rocky USB 2.0 Host_2 EHCI controller for high speed */
&usb_host0_ehci {
	status = "okay";
};

/* add by rocky USB 2.0 Host_2 OHCI controller for full/low speed */
&usb_host0_ohci {
	status = "okay";
};

/* add by rocky USB 2.0 Host_3 EHCI controller for high speed */
&usb_host1_ehci {
	status = "okay";
};

/* add by rocky USB 2.0 Host_3 OHCI controller for full/low speed */
&usb_host1_ohci {
	status = "okay";
};

&usbdrd_dwc3 {
	dr_mode = "otg";
	extcon = <&usb2phy0>;
	status = "okay";
};

/* add by rocky USB 3.0 OTG controller */
&usbdrd30 {
	status = "okay";
};

&usbhost_dwc3 {
	status = "okay";
};

/* add by rocky USB 3.0 Host_1 controller */
&usbhost30 {
	status = "okay";
};

/*
 * video_phy0 needs to be enabled
 * when dsi0 is enabled
 */
&dsi0 {
	status = "disabled";
};

&dsi0_in_vp0 {
	status = "disabled";
};

&dsi0_in_vp1 {
	status = "disabled";
};

&dsi0_panel {
	//power-supply = <&vcc3v3_lcd0_n>;
};

&route_dsi0 {
	status = "disabled";
	connect = <&vp1_out_dsi0>;
};
/*
 * video_phy1 needs to be enabled
 * when dsi1 is enabled
 */
&dsi1 {
	status = "disabled";
};

&dsi1_in_vp0 {
	status = "disabled";
};

&dsi1_in_vp1 {
	status = "disabled";
};

&dsi1_panel {
	//power-supply = <&vcc3v3_lcd1_n>;
};

&backlight {
		pwms = <&pwm4 0 2000000 0>;
		enable-gpios = <&gpio0 RK_PC6 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&bl_en>;
};

#if 0
&gmac0 {
	phy-mode = "rgmii";
	clock_in_out = "output";

	snps,reset-gpio = <&gpio2 RK_PD3 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;

	assigned-clocks = <&cru SCLK_GMAC0_RX_TX>, <&cru SCLK_GMAC0>;
	assigned-clock-parents = <&cru SCLK_GMAC0_RGMII_SPEED>, <&cru CLK_MAC0_2TOP>;
	assigned-clock-rates = <0>, <125000000>;

	pinctrl-names = "default";
	pinctrl-0 = <&gmac0_miim
		     &gmac0_tx_bus2
		     &gmac0_rx_bus2
		     &gmac0_rgmii_clk
		     &gmac0_rgmii_bus>;

	tx_delay = <0x3c>;
	rx_delay = <0x2f>;

	phy-handle = <&rgmii_phy0>;
	status = "disabled";
};
#endif

&gmac1 {
	phy-mode = "rgmii";
	clock_in_out = "output";//rk3566 provide
	//clock_in_out = "input";//phy provide

	snps,reset-gpio = <&gpio4 RK_PC2 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;

	assigned-clocks = <&cru SCLK_GMAC1_RX_TX>, <&cru SCLK_GMAC1>;
	assigned-clock-parents = <&cru SCLK_GMAC1_RGMII_SPEED>, <&cru CLK_MAC1_2TOP>;//rk3566 provide
	//assigned-clock-parents = <&cru SCLK_GMAC1_RGMII_SPEED>, <&cru CLK_MAC1_2TOP>, <&gmac1_clkin>;//phy provide
	assigned-clock-rates = <0>, <125000000>;

	pinctrl-names = "default";
	#if 1//1-rk3566 provide   0-phy provide
	pinctrl-0 = <&gmac1m1_miim
		     &gmac1m1_tx_bus2_level3
		     &gmac1m1_rx_bus2
		     &gmac1m1_rgmii_clk_level2
		     &gmac1m1_rgmii_bus_level3>;
	#else
	pinctrl-0 = <&gmac1m0_miim
		     &gmac1m0_tx_bus2_level3
		     &gmac1m0_rx_bus2
		     &gmac1m0_rgmii_clk_level2
		     &gmac1m0_rgmii_bus_level3
			 &gmac1m0_clkinout>;
	#endif
	
	tx_delay = <0x2f>;//rk3566 provide
	rx_delay = <0x1f>;//rk3566 provide
	//tx_delay = <0x3b>;//phy provide
	//rx_delay = <0x1f>;//phy provide

	phy-handle = <&rgmii_phy1>;
	status = "okay";
};

/*
 * power-supply should switche to vcc3v3_lcd1_n
 * when mipi panel is connected to dsi1.
 */
/*&gt1x {
	power-supply = <&vcc3v3_lcd0_n>;
};*/
&i2c1 {
	status = "okay";
	
	ilitek@41 {
		status = "okay";
		compatible = "tchip,ilitek";
		reg = <0x41>;
		ilitek,irq-gpio = <&gpio0 RK_PB5 IRQ_TYPE_LEVEL_LOW>;
		ilitek,reset-gpio = <&gpio0 RK_PB6 GPIO_ACTIVE_HIGH>;	    
	};
	
	ts@14 {
		compatible = "goodix,gt9xx";
		reg = <0x14>;
		pinctrl-names = "default";
		pinctrl-0 = <&touch_gpio>;
		touch-gpio = <&gpio0 RK_PB5 IRQ_TYPE_LEVEL_LOW>;
		reset-gpio = <&gpio0 RK_PB6 GPIO_ACTIVE_HIGH>;
		//power-gpio = <&gpio0 GPIO_C5 GPIO_ACTIVE_LOW>;
		max-x = <1280>;
		max-y = <800>;
		//tp-size = <101>;
		tp-size = <89>;
		//tp-supply = <&pmic_vcc_tp_33>;
		status = "okay";
    };
	
};

&i2c3 {
	status = "okay";
	es7202: es7202@32 {
		status = "okay";
		#sound-dai-cells = <0>;
		compatible = "ES7202_PDM_ADC_2";
		reg = <0x32>;
	};
};
&i2c4 {
	status = "okay";

	gs_mxc6655xa: gs_mxc6655xa@15 {
		status = "disabled";
		compatible = "gs_mxc6655xa";
		pinctrl-names = "default";
		pinctrl-0 = <&mxc6655xa_irq_gpio>;
		reg = <0x15>;
		irq-gpio = <&gpio3 RK_PD7 IRQ_TYPE_LEVEL_LOW>;
		irq_enable = <0>;
		poll_delay_ms = <30>;
		type = <SENSOR_TYPE_ACCEL>;
		power-off-in-suspend = <1>;
		layout = <1>;
	};
};

&i2c5 {
	status = "okay";
	ov5648: ov5648@36 {
		compatible = "ovti,ov5648";
		status = "okay";
		reg = <0x36>;
		//clocks = <&cru CLK_CAM0_OUT>;
		clocks = <&cru CLK_CIF_OUT>;//rocky
		clock-names = "xvclk";
		power-domains = <&power RK3568_PD_VI>;//rocky
		/* avdd-supply = <>; */
		/* dvdd-supply = <>; */
		/* dovdd-supply = <>; */
		/* reset-gpios = <>; */
		avdd-supply = <&vcc2v8_dvp>;
		dovdd-supply = <&vcc1v8_dvp>;
		//power-gpios = <&gpio0 RK_PD4 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio3 RK_PC1 GPIO_ACTIVE_HIGH>;
        pwdn-gpios = <&gpio3 RK_PA3 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "rockchip,camera_default", "rockchip,camera_sleep";
		//pinctrl-0 = <&cam_clkout0>;
		//pinctrl-1 = <&cam_sleep>;
		pinctrl-0 = <&cif_clk>;
		pinctrl-1 = <&cam_sleep_2>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "front";
		rockchip,camera-module-name = "default";
		rockchip,camera-module-lens-name = "default";                
		port {
				ov5648_out: endpoint {
						remote-endpoint = <&mipi_in_ucam0>;
						//remote-endpoint = <&mipi_in_ucam1>;
						data-lanes = <1 2>;
				};
		};
    };
	nfc-bcm2079x@76 {
		compatible = "nfc-bcm2079x.ap6441";
		reg = <0x76>;
		//pw_gpio = <&gpio7 16 GPIO_ACTIVE_HIGH>;
		en_gpio = <&gpio0 RK_PD3 GPIO_ACTIVE_HIGH>;
		wake_gpio = <&gpio0 RK_PD5 GPIO_ACTIVE_HIGH>;
		irq_gpio = <&gpio0 RK_PD4 IRQ_TYPE_EDGE_RISING>;
		status = "okay";
    };
};

&csi2_dphy_hw {
	status = "okay";
};
&csi2_dphy0 {
	status = "okay";
	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
			mipi_in_ucam0: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&ov5648_out>;
				data-lanes = <1 2>;
			};
		};
		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
			csidphy0_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&isp0_in>;
			};
		};
	};
};
&rkisp {
	status = "okay";
};
&rkisp_mmu {
	status = "okay";
};
&rkisp_vir0 {
	status = "okay";
	port {
		#address-cells = <1>;
		#size-cells = <0>;
		isp0_in: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&csidphy0_out>;
		};
	};
};
/*&mdio0 {
	rgmii_phy0: phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
	};
};*/

&mdio1 {
	rgmii_phy1: phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
	};
};

&video_phy0 {
	status = "disabled";
};

&video_phy1 {
	status = "disabled";
};

/*&pcie2x1 {
	reset-gpios = <&gpio1 RK_PB2 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&pcie20_3v3>;
	status = "okay";
};

&pcie30phy {
	status = "okay";
};

&pcie3x2 {
	reset-gpios = <&gpio0 RK_PC6 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&pcie30_3v3>;
	status = "okay";
};*/

&pinctrl {
	headphone {
		hp_det: hp-det {
			rockchip,pins = <3 RK_PC2 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};

	mxc6655xa {
		mxc6655xa_irq_gpio: mxc6655xa_irq_gpio {
			rockchip,pins = <3 RK_PD7 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	sii902x {
		sii902x_hdmi_int: sii902x-hdmi-int {
			rockchip,pins = <3 RK_PA0 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	sdio-pwrseq {
		wifi_enable_h: wifi-enable-h {
			rockchip,pins = <2 RK_PB1 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		wifi_32k: wifi-32k {
			rockchip,pins = <2 RK_PC6 1 &pcfg_pull_none>;
		};
	};

	wireless-wlan {
		wifi_host_wake_irq: wifi-host-wake-irq {
			rockchip,pins = <2 RK_PB2 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};

	wireless-bluetooth {
		uart1_gpios: uart1-gpios {
			rockchip,pins = <2 RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
	
	vcc_sd {
		vcc_sd_h: vcc-sd-h {
			rockchip,pins = <0 RK_PA5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
	
	bl_ctrl {
		bl_en: bl-en {
			rockchip,pins = <0 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
	
	lcd {
		/*lcd_rst_gpio: lcd-rst-gpio {
			rockchip,pins = <0 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>;
		};*/

		lcd_enable_gpio: lcd-enable-gpio {
			rockchip,pins = <3 RK_PD4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
	
	usb {
		camera_pwr: camera-pwr {
			rockchip,pins =
				<3 RK_PD0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		
		pwr_4g: pwr-4g {
			rockchip,pins =
				<3 RK_PD2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		
		pwr_host: pwr-host {
			rockchip,pins =
				<3 RK_PA1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
	cam {
		cam_clkout0: cam-clkout0 {
			rockchip,pins =
				/* cam_clkout0 */
				<4 RK_PA7 1 &pcfg_pull_none>;
		};
		cam_sleep: cam-sleep {
			rockchip,pins =
				/* cam_sleep */
				<4 RK_PA7 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		cam_sleep_2: cam-sleep-2 {
			rockchip,pins =
				/* cam_sleep */
				<4 RK_PC0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

/*&pmu_io_domains {
	vccio6-supply = <&vcc_3v3>;
};*/

&pwm3 {
	status = "disabled";

	compatible = "rockchip,remotectl-pwm";
	remote_pwm_id = <3>;
	handle_cpu_id = <1>;
	remote_support_psci = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pwm3_pins>;

	ir_key1 {
		rockchip,usercode = <0x4040>;
		rockchip,key_table =
			<0xf2	KEY_REPLY>,
			<0xba	KEY_BACK>,
			<0xf4	KEY_UP>,
			<0xf1	KEY_DOWN>,
			<0xef	KEY_LEFT>,
			<0xee	KEY_RIGHT>,
			<0xbd	KEY_HOME>,
			<0xea	KEY_VOLUMEUP>,
			<0xe3	KEY_VOLUMEDOWN>,
			<0xe2	KEY_SEARCH>,
			<0xb2	KEY_POWER>,
			<0xbc	KEY_MUTE>,
			<0xec	KEY_MENU>,
			<0xbf	0x190>,
			<0xe0	0x191>,
			<0xe1	0x192>,
			<0xe9	183>,
			<0xe6	248>,
			<0xe8	185>,
			<0xe7	186>,
			<0xf0	388>,
			<0xbe	0x175>;
	};

	ir_key2 {
		rockchip,usercode = <0xff00>;
		rockchip,key_table =
			<0xf9	KEY_HOME>,
			<0xbf	KEY_BACK>,
			<0xfb	KEY_MENU>,
			<0xaa	KEY_REPLY>,
			<0xb9	KEY_UP>,
			<0xe9	KEY_DOWN>,
			<0xb8	KEY_LEFT>,
			<0xea	KEY_RIGHT>,
			<0xeb	KEY_VOLUMEDOWN>,
			<0xef	KEY_VOLUMEUP>,
			<0xf7	KEY_MUTE>,
			<0xe7	KEY_POWER>,
			<0xfc	KEY_POWER>,
			<0xa9	KEY_VOLUMEDOWN>,
			<0xa8	KEY_VOLUMEDOWN>,
			<0xe0	KEY_VOLUMEDOWN>,
			<0xa5	KEY_VOLUMEDOWN>,
			<0xab	183>,
			<0xb7	388>,
			<0xe8	388>,
			<0xf8	184>,
			<0xaf	185>,
			<0xed	KEY_VOLUMEDOWN>,
			<0xee	186>,
			<0xb3	KEY_VOLUMEDOWN>,
			<0xf1	KEY_VOLUMEDOWN>,
			<0xf2	KEY_VOLUMEDOWN>,
			<0xf3	KEY_SEARCH>,
			<0xb4	KEY_VOLUMEDOWN>,
			<0xbe	KEY_SEARCH>;
	};

	ir_key3 {
		rockchip,usercode = <0x1dcc>;
		rockchip,key_table =
			<0xee	KEY_REPLY>,
			<0xf0	KEY_BACK>,
			<0xf8	KEY_UP>,
			<0xbb	KEY_DOWN>,
			<0xef	KEY_LEFT>,
			<0xed	KEY_RIGHT>,
			<0xfc	KEY_HOME>,
			<0xf1	KEY_VOLUMEUP>,
			<0xfd	KEY_VOLUMEDOWN>,
			<0xb7	KEY_SEARCH>,
			<0xff	KEY_POWER>,
			<0xf3	KEY_MUTE>,
			<0xbf	KEY_MENU>,
			<0xf9	0x191>,
			<0xf5	0x192>,
			<0xb3	388>,
			<0xbe	KEY_1>,
			<0xba	KEY_2>,
			<0xb2	KEY_3>,
			<0xbd	KEY_4>,
			<0xf9	KEY_5>,
			<0xb1	KEY_6>,
			<0xfc	KEY_7>,
			<0xf8	KEY_8>,
			<0xb0	KEY_9>,
			<0xb6	KEY_0>,
			<0xb5	KEY_BACKSPACE>;
	};
};

&pwm7 {
	status = "disabled";
};


&edp {
	status = "okay";
	force-hpd;
	//hpd-gpios = <&gpio4 RK_PC4 GPIO_ACTIVE_HIGH>;

	ports {
		port@1 {
			reg = <1>;			
			#address-cells = <1>;
			#size-cells = <0>;

			edp_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&panel_in>;
			};
		};
	};
};

&edp_phy {
	status = "okay";
};

&edp_in_vp1 {
	status = "okay";
};

&edp_in_vp0 {
	status = "disabled";
};

&route_edp {
	status = "okay";
	connect = <&vp1_out_edp>;
};

&sdio_pwrseq {
	clocks = <&pmucru CLK_RTC_32K>;
	pinctrl-0 = <&wifi_enable_h &wifi_32k>;

	/*
	 * On the module itself this is one of these (depending
	 * on the actual card populated):
	 * - SDIO_RESET_L_WL_REG_ON
	 * - PDN (power down when low)
	 */
	reset-gpios = <&gpio2 RK_PB1 GPIO_ACTIVE_LOW>;
};

&sdmmc1 {
	max-frequency = <150000000>;
	supports-sdio;
	bus-width = <4>;
	disable-wp;
	cap-sd-highspeed;
	cap-sdio-irq;
	keep-power-in-suspend;
	mmc-pwrseq = <&sdio_pwrseq>;
	non-removable;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc1_bus4 &sdmmc1_cmd &sdmmc1_clk>;
	sd-uhs-sdr104;
	status = "okay";
};

&sdmmc2 {
	status = "disabled";
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart1m0_xfer &uart1m0_ctsn>;
};

&uart9 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart9m1_xfer>;
};

/*&vcc3v3_lcd0_n {
	gpio = <&gpio0 RK_PC7 GPIO_ACTIVE_HIGH>;
	enable-active-high;
};

&vcc3v3_lcd1_n {
	gpio = <&gpio0 RK_PC5 GPIO_ACTIVE_HIGH>;
	enable-active-high;
};*/

&wireless_wlan {
	pinctrl-names = "default";
	pinctrl-0 = <&wifi_host_wake_irq>;
	WIFI,host_wake_irq = <&gpio2 RK_PB2 GPIO_ACTIVE_HIGH>;
};

&wireless_bluetooth {
	compatible = "bluetooth-platdata";
	clocks = <&pmucru CLK_RTC_32K>;
	clock-names = "ext_clock";
	//wifi-bt-power-toggle;
	uart_rts_gpios = <&gpio2 RK_PB5 GPIO_ACTIVE_LOW>;
	pinctrl-names = "default", "rts_gpio";
	pinctrl-0 = <&uart1m0_rtsn>;
	pinctrl-1 = <&uart1_gpios>;
	BT,reset_gpio    = <&gpio2 RK_PB7 GPIO_ACTIVE_HIGH>;
	BT,wake_gpio     = <&gpio2 RK_PC1 GPIO_ACTIVE_HIGH>;
	BT,wake_host_irq = <&gpio2 RK_PC0 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

/*============note===========*/
/*
WL1028 WL1058 WL1418 WF1528:4o-3w=10
WL1018:8o-1w=16
*/
&rk817_codec {
	spk-volume = <10>;//8-2.23W 10-2W (4o-3w)//10-1.29w 14-0.93w 16-0.78w(8o-1w)
	status = "okay";
};

/*
8821CS AP6255 AP6256:vcc_1v8
8723DS AP6212:vcc_3v3
*/
&pmu_io_domains {
	vccio4-supply = <&vcc_3v3>;
};
/*============note===========*/